* {
   color: rgb(93, 83, 83);
   background-color: rgb(237, 207, 237);
}

#name {
    color: black;
}
.link {
    height: 50px;
    width: 100px;
   
}

.link:hover {
    background-color: pink;
    font: italic 1em "Fira Sans", serif;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    row-gap: 50px;
}
.grid-item {
    text-align: center;
  }

  .flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }